
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.idea
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/src/Controller/ApiController.php
###< symfony/framework-bundle ###
